[submodule "assets/syntaxes/Elixir"]
	path = assets/syntaxes/Elixir
	url = https://github.com/princemaple/elixir-sublime-syntax/
[submodule "assets/syntaxes/Packages"]
	path = assets/syntaxes/Packages
	url = https://github.com/sublimehq/Packages/
[submodule "assets/syntaxes/TOML"]
	path = assets/syntaxes/TOML
	url = https://github.com/jasonwilliams/sublime_toml_highlighting
[submodule "assets/syntaxes/Julia"]
	path = assets/syntaxes/Julia
	url = https://github.com/JuliaEditorSupport/Julia-sublime
[submodule "assets/themes/sublime-monokai-extended"]
	path = assets/themes/sublime-monokai-extended
	url = https://github.com/jonschlinkert/sublime-monokai-extended
[submodule "assets/syntaxes/Docker"]
	path = assets/syntaxes/Docker
	url = https://github.com/asbjornenge/Docker.tmbundle
[submodule "assets/syntaxes/VimL"]
	path = assets/syntaxes/VimL
	url = https://github.com/SalGnt/Sublime-VimL
[submodule "assets/syntaxes/INI"]
	path = assets/syntaxes/INI
	url = https://github.com/clintberry/sublime-text-2-ini
[submodule "assets/syntaxes/CMake"]
	path = assets/syntaxes/CMake
	url = https://github.com/zyxar/Sublime-CMakeLists
[submodule "assets/syntaxes/LESS"]
	path = assets/syntaxes/LESS
	url = https://github.com/danro/LESS-sublime
[submodule "assets/themes/DarkNeon"]
	path = assets/themes/DarkNeon
	url = https://github.com/RainyDayMedia/DarkNeon
[submodule "assets/themes/github-sublime-theme"]
	path = assets/themes/github-sublime-theme
	url = https://github.com/AlexanderEkdahl/github-sublime-theme
[submodule "assets/themes/1337-Scheme"]
	path = assets/themes/1337-Scheme
	url = https://github.com/MarkMichos/1337-Scheme
[submodule "assets/themes/TwoDark"]
	path = assets/themes/TwoDark
	url = https://github.com/erremauro/TwoDark
[submodule "assets/syntaxes/AWK"]
	path = assets/syntaxes/AWK
	url = https://github.com/JohnNilsson/awk-sublime
[submodule "assets/syntaxes/Nix"]
	path = assets/syntaxes/Nix
	url = https://github.com/wmertens/sublime-nix
[submodule "assets/themes/zenburn"]
	path = assets/themes/zenburn
	url = https://github.com/colinta/zenburn.git
[submodule "assets/syntaxes/Kotlin"]
	path = assets/syntaxes/Kotlin
	url = https://github.com/vkostyukov/kotlin-sublime-package
[submodule "assets/syntaxes/Elm"]
	path = assets/syntaxes/Elm
	url = https://github.com/elm-community/SublimeElmLanguageSupport
[submodule "assets/syntaxes/TypeScript"]
	path = assets/syntaxes/TypeScript
	url = https://github.com/Microsoft/TypeScript-Sublime-Plugin
[submodule "assets/syntaxes/Puppet"]
	path = assets/syntaxes/Puppet
	url = https://github.com/russCloak/SublimePuppet
[submodule "assets/syntaxes/CSV"]
	path = assets/syntaxes/CSV
	url = https://github.com/wadetb/Sublime-Text-Advanced-CSV
[submodule "assets/themes/onehalf"]
	path = assets/themes/onehalf
	url = https://github.com/sonph/onehalf
[submodule "assets/syntaxes/JavaScript (Babel)"]
	path = assets/syntaxes/JavaScript (Babel)
	url = https://github.com/babel/babel-sublime
[submodule "assets/syntaxes/Cabal"]
	path = assets/syntaxes/Cabal
	url = https://github.com/SublimeHaskell/SublimeHaskell
[submodule "assets/syntaxes/Dart"]
	path = assets/syntaxes/Dart
	url = https://github.com/guillermooo/dart-sublime-bundle
[submodule "assets/syntaxes/FSharp"]
	path = assets/syntaxes/FSharp
	url = https://github.com/hoest/sublimetext-fsharp
[submodule "assets/syntaxes/PureScript"]
	path = assets/syntaxes/PureScript
	url = https://github.com/tellnobody1/sublime-purescript-syntax
[submodule "assets/syntaxes/Swift"]
	path = assets/syntaxes/Swift
	url = https://github.com/quiqueg/Swift-Sublime-Package
[submodule "assets/syntaxes/Crystal"]
	path = assets/syntaxes/Crystal
	url = https://github.com/crystal-lang-tools/sublime-crystal.git
[submodule "assets/syntaxes/PowerShell"]
	path = assets/syntaxes/PowerShell
	url = https://github.com/PowerShell/EditorSyntax
[submodule "assets/syntaxes/Robot"]
	path = assets/syntaxes/Robot
	url = https://github.com/andriyko/sublime-robot-framework-assistant.git
[submodule "assets/themes/sublime-snazzy"]
	path = assets/themes/sublime-snazzy
	url = https://github.com/greggb/sublime-snazzy
