[package]
authors = ["David Peter <mail@david-peter.de>"]
categories = ["command-line-utilities"]
description="A cat(1) clone with wings."
homepage = "https://github.com/sharkdp/bat"
license = "MIT/Apache-2.0"
name = "bat"
readme = "README.md"
repository = "https://github.com/sharkdp/bat"
version = "0.12.1"
exclude = [
    "assets/syntaxes/*",
    "assets/themes/*",
]
build = "build.rs"
edition = '2018'

[dependencies]
atty = "0.2.13"
ansi_term = "^0.12.1"
ansi_colours = "^1.0"
console = "0.9"
dirs = "2.0"
lazy_static = "1.4"
wild = "2.0"
content_inspector = "0.2.4"
encoding = "0.2"
shell-words = "0.1.0"

[dependencies.git2]
version = "0.10"
default-features = false
features = []

[dependencies.syntect]
version = "3.3.0"
default-features = false
features = ["parsing", "yaml-load", "dump-load", "dump-create"]

[dependencies.clap]
version = "2.33"
default-features = false
features = ["suggestions", "color", "wrap_help"]

[dependencies.error-chain]
version = "0.12"
default-features = false
features = []

[dev-dependencies]
tempdir = "0.3"
assert_cmd = "0.11.1"
escargot = "0.5.0"

[build-dependencies]
clap = "2.33"
liquid = "0.19"
lazy_static = "1.4"
