[package]
authors = ["David Peter <mail@david-peter.de>"]
categories = ["command-line-utilities"]
description="A cat(1) clone with wings."
homepage = "https://github.com/sharkdp/bat"
license = "MIT/Apache-2.0"
name = "bat"
readme = "README.md"
repository = "https://github.com/sharkdp/bat"
version = "0.2.0"

[dependencies]
atty = "0.2.2"
ansi_term = "0.9"
console = "0.6"
git2 = "0.6"
error-chain = "0.11"
directories = "0.9"
lazy_static = "1.0"

[dependencies.syntect]
version = "2"
default-features = false
features = ["parsing", "yaml-load", "dump-load", "dump-create"]

[dependencies.clap]
version = "2"
default-features = false
features = ["suggestions", "color", "wrap_help"]
