[package]
authors = ["David Peter <mail@david-peter.de>"]
categories = ["command-line-utilities"]
description = "A cat(1) clone with wings."
homepage = "https://github.com/sharkdp/bat"
license = "MIT/Apache-2.0"
name = "bat"
repository = "https://github.com/sharkdp/bat"
version = "0.18.1"
exclude = ["assets/syntaxes/*", "assets/themes/*"]
build = "build.rs"
edition = '2018'

[features]
default = ["application"]
# Feature required for bat the application. Should be disabled when depending on
# bat as a library.
application = [
    "atty",
    "clap",
    "dirs-next",
    "git",
    "lazy_static",
    "paging",
    "wild",
    "regex-onig",
]
git = ["git2"] # Support indicating git modifications
paging = ["shell-words"] # Support applying a pager on the output

# You need to use one of these if you depend on bat as a library:
regex-onig = ["syntect/regex-onig"] # Use the "oniguruma" regex engine
regex-fancy = ["syntect/regex-fancy"] # Use the rust-only "fancy-regex" engine

[dependencies]
atty = { version = "0.2.14", optional = true }
ansi_term = "^0.12.1"
ansi_colours = "^1.0"
console = "0.14.1"
lazy_static = { version = "1.4", optional = true }
wild = { version = "2.0", optional = true }
content_inspector = "0.2.4"
encoding = "0.2"
shell-words = { version = "1.0.0", optional = true }
unicode-width = "0.1.8"
globset = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
semver = "0.11"
path_abs = { version = "0.5", default-features = false }
clircle = "0.3"
bugreport = "0.4"
dirs-next = { version = "2.0.0", optional = true }

[dependencies.git2]
version = "0.13"
optional = true
default-features = false

[dependencies.syntect]
version = "4.5.0"
default-features = false
features = ["parsing", "yaml-load", "dump-load", "dump-create"]

[dependencies.clap]
version = "2.33"
optional = true
default-features = false
features = ["suggestions", "color", "wrap_help"]

[dependencies.error-chain]
version = "0.12"
default-features = false

[dev-dependencies]
assert_cmd = "1.0.4"
serial_test = "0.5.1"
predicates = "1.0.7"
wait-timeout = "0.2.0"
tempfile = "3.2.0"

[target.'cfg(unix)'.dev-dependencies]
nix = "0.20.0"

[build-dependencies]
clap = { version = "2.33", optional = true }

[profile.release]
lto = true
codegen-units = 1
