[package]
authors = ["David Peter <mail@david-peter.de>"]
categories = ["command-line-utilities"]
description = "A cat(1) clone with wings."
homepage = "https://github.com/sharkdp/bat"
license = "MIT OR Apache-2.0"
name = "bat"
repository = "https://github.com/sharkdp/bat"
version = "0.23.0"
exclude = ["assets/syntaxes/*", "assets/themes/*"]
build = "build.rs"
edition = '2018'
rust-version = "1.64"

[features]
default = ["application"]
# Feature required for bat the application. Should be disabled when depending on
# bat as a library.
application = [
    "bugreport",
    "build-assets",
    "git",
    "minimal-application",
]
# Mainly for developers that want to iterate quickly
# Be aware that the included features might change in the future
minimal-application = [
    "is-terminal",
    "clap",
    "dirs",
    "paging",
    "regex-onig",
    "wild",
]
git = ["git2"] # Support indicating git modifications
paging = ["shell-words", "grep-cli"] # Support applying a pager on the output
build-assets = ["syntect/yaml-load", "syntect/plist-load", "regex", "walkdir"]

# You need to use one of these if you depend on bat as a library:
regex-onig = ["syntect/regex-onig"] # Use the "oniguruma" regex engine
regex-fancy = ["syntect/regex-fancy"] # Use the rust-only "fancy-regex" engine

[dependencies]
is-terminal = { version = "0.4.4", optional = true }
nu-ansi-term = "0.47.0"
ansi_colours = "^1.2"
bincode = "1.0"
console = "0.15.5"
flate2 = "1.0"
once_cell = "1.17"
thiserror = "1.0"
wild = { version = "2.1", optional = true }
content_inspector = "0.2.4"
encoding = "0.2"
shell-words = { version = "1.1.0", optional = true }
unicode-width = "0.1.10"
globset = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
semver = "1.0"
path_abs = { version = "0.5", default-features = false }
clircle = "0.3"
bugreport = { version = "0.5.0", optional = true }
dirs = { version = "5.0.0", optional = true }
grep-cli = { version = "0.1.7", optional = true }
regex = { version = "1.8.3", optional = true }
walkdir = { version = "2.3", optional = true }
bytesize = { version = "1.2.0" }

[dependencies.git2]
version = "0.16"
optional = true
default-features = false

[dependencies.syntect]
version = "5.0.0"
default-features = false
features = ["parsing"]

[dependencies.clap]
version = "4.2.6"
optional = true
features = ["wrap_help", "cargo"]

[target.'cfg(target_os = "macos")'.dependencies]
dirs = "5.0.0"
plist = "1.4.3"

[dev-dependencies]
assert_cmd = "2.0.10"
expect-test = "1.4.0"
serial_test = { version = "2.0.0", default-features = false }
predicates = "3.0.3"
wait-timeout = "0.2.0"
tempfile = "3.5.0"

[target.'cfg(unix)'.dev-dependencies]
nix = { version = "0.26.2", default-features = false, features = ["term"] }

[build-dependencies.clap]
version = "4.1.8"
optional = true
features = ["wrap_help", "cargo"]

[profile.release]
lto = true
strip = true
codegen-units = 1
