# force LF EOLs for test fixtures
examples/** text=auto eol=lf
snapshots/** text=auto eol=lf

# BAT/CMD files always need CRLF EOLs
*.[Bb][Aa][Tt] text eol=crlf
*.[Cc][Mm][Dd] text eol=crlf

examples/* linguist-vendored
snapshots/* linguist-vendored
benchmarks/* linguist-vendored
benchmarks/test-src/* linguist-vendored
scripts/* linguist-vendored
syntax-tests/* linguist-vendored
