[38;2;255;255;255m%[0m[38;2;249;38;114mhtml[0m
[38;2;248;248;242m  [0m[38;2;255;255;255m%[0m[38;2;249;38;114mhead[0m
[38;2;248;248;242m    [0m[38;2;255;255;255m%[0m[38;2;249;38;114mtitle[0m[38;2;248;248;242m Test Title[0m
[38;2;248;248;242m  [0m[38;2;255;255;255m%[0m[38;2;249;38;114mbody[0m
[38;2;248;248;242m    [0m[38;2;255;255;255m%[0m[38;2;249;38;114mnavigation[0m
[38;2;248;248;242m      [0m[38;2;248;248;242m=[0m[38;2;248;248;242m [0m[38;2;102;217;239mrender[0m[38;2;248;248;242m [0m[38;2;246;240;128m:[0m[38;2;246;240;128mpartial[0m[38;2;248;248;242m [0m[38;2;248;248;242m=>[0m[38;2;248;248;242m [0m[38;2;249;38;114m"[0m[38;2;230;219;116mnavigation_top[0m[38;2;249;38;114m"[0m
[38;2;248;248;242m    [0m[38;2;255;255;255m%[0m[38;2;249;38;114mh1[0m[38;2;248;248;242m=[0m[38;2;248;248;242m page[0m[38;2;248;248;242m.[0m[38;2;248;248;242mtitle[0m
[38;2;248;248;242m    [0m[38;2;255;255;255m%[0m[38;2;249;38;114mp[0m
[38;2;248;248;242m      Here is a point to emphasize:[0m
[38;2;248;248;242m        [0m[38;2;255;255;255m%[0m[38;2;249;38;114mstrong[0m[38;2;249;38;114m.highlighted[0m[38;2;249;38;114m#search_item_found[0m[38;2;248;248;242m=[0m[38;2;248;248;242m item1[0m[38;2;248;248;242m.[0m[38;2;248;248;242mtext[0m
[38;2;248;248;242m        [0m[38;2;255;255;255m%[0m[38;2;249;38;114mspan[0m[38;2;248;248;242m{[0m[38;2;246;240;128m:[0m[38;2;246;240;128mclass[0m[38;2;248;248;242m [0m[38;2;248;248;242m=>[0m[38;2;248;248;242m [0m[38;2;249;38;114m"[0m[38;2;230;219;116mfancy[0m[38;2;249;38;114m"[0m[38;2;248;248;242m,[0m[38;2;248;248;242m [0m[38;2;246;240;128m:[0m[38;2;246;240;128mid[0m[38;2;248;248;242m [0m[38;2;248;248;242m=>[0m[38;2;248;248;242m [0m[38;2;249;38;114m"[0m[38;2;230;219;116mfancy1[0m[38;2;249;38;114m"[0m[38;2;248;248;242m}[0m[38;2;248;248;242m=[0m[38;2;248;248;242m item2[0m[38;2;248;248;242m.[0m[38;2;248;248;242mtext[0m
[38;2;248;248;242m    [0m[38;2;249;38;114m.special[0m[38;2;248;248;242m=[0m[38;2;248;248;242m special[0m[38;2;248;248;242m.[0m[38;2;248;248;242mtext[0m
[38;2;248;248;242m    [0m[38;2;255;255;255m%[0m[38;2;249;38;114mol[0m
[38;2;248;248;242m      [0m[38;2;255;255;255m%[0m[38;2;249;38;114mli[0m[38;2;248;248;242m First[0m
[38;2;248;248;242m      [0m[38;2;255;255;255m%[0m[38;2;249;38;114mli[0m[38;2;248;248;242m Second[0m
